[user]
  email = alan@alandavies.org
  name = Alan Davies

[core]
  # editor = emacs
  editor = /Applications/Emacs.App/Contents/MacOS/Emacs -nw

[alias]
  aliases = "!git config -l | grep alias | cut -c 7-"
  lg = log --color --graph --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%C(white) %s %Creset%C(green)(%cr)%C(cyan)<%an>%Creset' --abbrev-commit
